<svg xmlnsXlink="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="arn_icon-add-wishlist" viewBox="{{ shop.metafields.arena.wl_cp_settings.wishlist_settings.add_class_icon.view_box | default: '0 0 0 0' }}">
        <title>add wishlist</title>
        {{ shop.metafields.arena.wl_cp_settings.wishlist_settings.add_class_icon.svg }}
    </symbol>
   <symbol id="arn_icon-add-wishlist-product" viewBox="{{ shop.metafields.arena.wl_cp_settings.wishlist_settings.add_class_icon_product.view_box | default: '0 0 0 0' }}">
        <title>add wishlist</title>
        {{ shop.metafields.arena.wl_cp_settings.wishlist_settings.add_class_icon_product.svg }}
    </symbol>

    <symbol id="arn_icon-show-wishlist" viewBox="{{ shop.metafields.arena.wl_cp_settings.wishlist_settings.show_class_icon.view_box | default: '0 0 0 0' }}">
        <title>show wishlist</title>
        {{ shop.metafields.arena.wl_cp_settings.wishlist_settings.show_class_icon.svg }}
    </symbol>

    <symbol id="arn_icon-remove-wishlist" viewBox="{{ shop.metafields.arena.wl_cp_settings.wishlist_settings.remove_class_icon.view_box | default: '0 0 0 0' }}"> 
        <title>{{ shop.metafields.arena.wl_cp_settings.wishlist_settings.table_delete_heading }}</title>
        {{ shop.metafields.arena.wl_cp_settings.wishlist_settings.remove_class_icon.svg }}
    </symbol>

    <symbol id="arn_icon-add-compare" viewBox="{{ shop.metafields.arena.wl_cp_settings.compare_settings.add_class_icon.view_box | default: '0 0 0 0' }}">
        <title>add compare</title>
        {{ shop.metafields.arena.wl_cp_settings.compare_settings.add_class_icon.svg }}
    </symbol>
    <symbol id="arn_icon-add-compare-product" viewBox="{{ shop.metafields.arena.wl_cp_settings.compare_settings.add_class_icon_product.view_box | default: '0 0 0 0' }}">
        <title>add compare</title>
        {{ shop.metafields.arena.wl_cp_settings.compare_settings.add_class_icon_product.svg }}
    </symbol>

    <symbol id="arn_icon-show-compare" viewBox="{{ shop.metafields.arena.wl_cp_settings.compare_settings.show_class_icon.view_box | default: '0 0 0 0' }}">
        <title>show compare</title>
        {{ shop.metafields.arena.wl_cp_settings.compare_settings.show_class_icon.svg }}
    </symbol>

    <symbol id="arn_icon-remove-compare" viewBox="{{ shop.metafields.arena.wl_cp_settings.compare_settings.remove_class_icon.view_box | default: '0 0 0 0' }}"> 
        <title>{{ shop.metafields.arena.wl_cp_settings.compare_settings.table_delete_heading }}</title>
        {{ shop.metafields.arena.wl_cp_settings.compare_settings.remove_class_icon.svg }}
    </symbol>
    
    <symbol id="arn_icon-preloader" viewBox="{{ shop.metafields.arena.wl_cp_settings.general_settings.preloader_icon.view_box | default: '0 0 0 0' }}"> 
        <title>preloader</title>
        {{ shop.metafields.arena.wl_cp_settings.general_settings.preloader_icon.svg }}
    </symbol>
</svg>