{%- liquid
	assign review_app = settings.review_app
-%}

{%- case review_app -%}
	{%- when 'shopify' -%}
		{%- if type == 'badge' -%}
			{%- if product.metafields.spr.reviews contains 'data-rating="0.0"' -%}{%- break -%}{%- endif -%}
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
		{%- else -%}			
		  	<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
		{%- endif -%}

	{%- when 'loox' -%}
		{% comment %}
			Include files:
			+ sections/loox-all-reviews.liquid
			+ sections/loox-carousel-reviews.liquid
			+ templates/page.loox-all-reviews.liquid
		{% endcomment %}

		{%- if type == 'badge' -%}
			<a href="#looxReviews">
				<div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
			</a>

		{%- else -%}
			{% if product.metafields.loox.num_reviews %}
				<script id="looxSchemaJson" type="application/ld+json">
					{
						"@context": "http://schema.org",
						"@type": "Product",
						"@id": {{ canonical_url | json }},
						"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "{{ product.metafields.loox.avg_rating }}",
						"reviewCount": "{{ product.metafields.loox.num_reviews }}"
					},
					"name": {{ product.title | json }}
				}
				</script>
			{% endif %}
			<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
		{%- endif -%}
{%- endcase -%}