{%- if settings.share_facebook or settings.share_twitter or settings.share_pinterest -%}
  {%- case request.page_type -%}
    {%- when 'article' or 'blog' -%}
      {%- capture share_permalink -%}{{ shop.url }}{{ article.url }}{%- endcapture -%}
      {%- capture share_title -%}{{ article.title }}{%- endcapture -%}
      {%- capture shareHandle -%}{{ article.handle }}{%- endcapture -%}
    {%- when 'product' -%}
      {%- capture share_permalink -%}{{ shop.url }}{{ product.url }}{%- endcapture -%}
      {%- capture share_title -%}{{ product.title }}{%- endcapture -%}
      {%- capture shareHandle -%}{{ product.handle }}{%- endcapture -%}

    {%- when 'password' -%}
      {%- capture share_permalink -%}{{ shop.url }}{%- endcapture -%}
      {%- capture share_title -%}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{%- endcapture -%}

  {%- endcase -%}

  <ul class="social-sharing active">
    {%- if settings.share_facebook -%}
      <li>
        <a target="_blank" href="//www.facebook.com/sharer.php?u={{ share_permalink }}" class="btn btn--small btn--share share-facebook">
          {%- render 'svg', type: 'facebook' -%}
          <span class="share-title none" aria-hidden="true">{{ 'general.social.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.share_twitter -%}
      <li>
        <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ share_permalink }}" class="btn btn--small btn--share share-twitter">
          {%- render 'svg', type: 'twitter' -%}
          <span class="share-title none" aria-hidden="true">{{ 'general.social.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.share_pinterest -%}
      <li>
        <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="btn btn--small btn--share share-pinterest">
          {%- render 'svg', type: 'pinterest' -%}
          <span class="share-title none" aria-hidden="true">{{ 'general.social.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}