{%- render 'snippet-section', type: 'css-file', minify: true, name: 'customer' -%}
{%- render 'snippet-section', type: 'css-file', minify: true, name: 'component-pagination' -%}
{%- capture spacing -%}{% render 'snippet-section', type: 'spacing' %}{%- endcapture -%}

<div class="container">
  <div class="main-page">

    <h2 class="page-heading h2 fw600">{{ 'customer.account.title' | t }}</h2>

    <div class="flex flex-1 flex-md-2 {% render 'snippet-section', type: 'spacing' %}">
      <aside class="account-detail">
        <div class="account-detail-inner">
          <h2 class="h4">{{ 'customer.account.details' | t }}</h2>
          <div class="account-name">{{customer.name}}</div>
          <div class="account-email">{{customer.email}}</div>
          <div class="account-orders"><a href="{{routes.account_url}}">{{- 'customer.account.view_orders' | t -}}</a></div>
          <div class="account-address active"><a href="{{ routes.account_addresses_url }}" class="highlight">{{ 'customer.account.view_addresses' | t }}</a></div>
          <div class="logout none md-block"><a href="{{ routes.account_logout_url }}">{{ 'customer.general.log_out' | t }}</a></div>
        </div>
      </aside>

      <main class="main-account">
        <div class="order-list">

          {%- paginate customer.addresses by 20 -%}

            <div class="addresses-wrapper" data-customer-addresses>

              <div class="new-address flex" data-address>
                <h1 class="h4">{{ 'customer.addresses.title' | t }}</h1>

                <div class="btn-wrapper">
                  <button type="button" aria-expanded="false" aria-controls="AddAddress" class="btn btn-1 js-popup-toggle" data-control="new-address" title="{{ 'customer.addresses.add_new' | t }}">
                    {%- render 'svg', type: 'plus', fillColor: true -%}
                    <span class="text">{{- 'customer.addresses.add_new' | t -}}</span>
                  </button>
                </div>
              </div>

              <ul class="flex flex-1 flex-md-2 flex-lg-3 {{spacing}}" role="list">
                {%- for address in customer.addresses -%}
                  <li class="order-{% if address == customer.default_address %}0{% else %}{{forloop.index}}{% endif %}" data-address>

                    <div class="card address-card pr">
                      <div class="card-inner">
                        {%- if address == customer.default_address -%}
                          <span class="label label-address-default pa t0 r0">{{ 'customer.addresses.default' | t }}</span>
                        {%- endif -%}

                        <div class="address-detail">{{ address | format_address }}</div>

                        <div class="address-button-group flex flex-2 {{spacing}}">
                          <div class="btn-wrapper">
                            <button type="button" class="btn btn-1 js-popup-toggle" id="EditFormButton_{{ address.id }}" data-control="edit-address-{{address.id}}" aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}" aria-controls="EditAddress_{{ address.id }}" aria-expanded="false" data-address-id="{{ address.id }}">
                              {{ 'customer.addresses.edit' | t }}
                            </button>
                          </div>
                          <div class="btn-wrapper">
                            <button type="button" class="btn btn-2" aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}" data-target="{{ address.url }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                              {{ 'customer.addresses.delete' | t }}
                            </button>
                          </div>
                        </div>
                    </div>
                  </li>

                  {%- capture poupEditAddress -%}{{-poupEditAddress-}}
                    {%- render 'address-item', address: address -%}
                  {%- endcapture -%}
                {%- endfor -%}
              </ul>

              {%- if paginate.pages > 1 -%}
                {%- render 'pagination', paginate: paginate -%}
              {%- endif -%}
            </div>
          {%- endpaginate -%}


        </div>
      </main>
    </div>
  </div>
</div>

{%- comment -%}
-------------------------------
ADD NEW ADDRESS POPUP
-------------------------------
{%- endcomment-%}
{%- render 'address-item', address: nil -%}

{%- comment -%}
-------------------------------
EDIT ADDRESS
-------------------------------
{%- endcomment-%}
{{poupEditAddress}}