{%- render 'snippet-section', type: 'css-file', minify: true, name: 'section-single-banner' -%}

{%- if section.settings.boxed_layout -%}{%- assign layout = 'boxed' -%}{%- else -%}{%- assign layout = 'wide' -%}{%- endif -%}

{%- capture content -%}
{%- liquid
  assign sectionType      = 'single-banner'
  assign sectionID        = '.section-' | append: section.id
  assign bannerDesktop    = section.settings.banner_desktop
  assign bannerMobile     = section.settings.banner_mobile | default: bannerDesktop
  assign svgLogo          = section.settings.svg_logo
  assign customLogo       = section.settings.logo
  assign hasPreload       = true
  assign disableLazy       = section.settings.disable_lazyload
-%}
{%- comment -%}
-------------------------------
BANNER HEIGHT
-------------------------------
{%- endcomment-%}
{%- assign heightStyle = section.settings.height_style -%}
{%- assign cropPosition = section.settings.image_crop -%}
{%- capture IMGCLASS %} object-fit--{% if cropPosition != blank %}cover{% else %}contain{% endif %}{%- endcapture -%}
{%- capture section_css -%}{{section_css}}
  {%- case heightStyle -%}
    {%- when 'auto'  -%}{%- assign IMGCLASS = nil -%}
    {%- else -%}
      {%- capture heightValue -%}{%- if heightStyle == 'manually' -%}{{section.settings.manual_height}}{%- else -%}{{heightStyle}}{%- endif -%}{%- endcapture -%}
      {%- render 'css-resp', class: sectionID, nextClass: ' .section-banner.image__style', css: 'padding-top', important: true, value: heightValue -%}
      {%- render 'css-resp', class: sectionID, nextClass: ' .section-banner.image__style img', css: 'object-position', important: true, value: cropPosition -%}
  {%- endcase -%}
{%- endcapture -%}

{%- comment -%}
-------------------------------
SECTION BANNER
-------------------------------
{%- endcomment-%}
{%- capture renderBanner -%}
  {%- if bannerDesktop == blank and bannerMobile == blank -%}
    {%- render 'empty-content', type: 'image' -%}
  {%- else -%}

    {%- unless bannerMobile == bannerDesktop -%}
      {%- render 'image-style', image: bannerMobile, class: 'section-banner lg-none', imgClass: IMGCLASS, preload: hasPreload, preloadType: 'mobile', disableLazy: disableLazy -%}
      {%- assign preloadType = 'desktop' -%}
      {%- capture desktopClass -%}none lg-block{%- endcapture -%}
    {%- endunless -%}
    {%- capture desktopClass -%}section-banner {{desktopClass}}{%- endcapture -%}

    {%- render 'image-style', image: bannerDesktop, class: desktopClass, imgClass: IMGCLASS, preload: hasPreload, preloadType: preloadType, disableLazy: disableLazy -%}
  {%- endif -%}

  {%- comment -%}
  -------------------------------
  RENDER BLOCK CONTENT
  -------------------------------
  {%- endcomment-%}
  {%- capture bannerContent -%}
    {%- for block in section.blocks -%}

      {%- capture blockID -%}{{sectionID}} .block-{{block.id}}{%- endcapture -%}
      {%- capture blockClass -%}block-item block-{{ block.type | handle }} block-{{block.id}}{%- endcapture -%}

      {%- case block.type -%}
        {%- when 'html' -%}<div class="{{blockClass}}">{{block.settings.html}}</div>
        {%- comment -%}-------------------------------TEXT{%- endcomment-%}
        {%- when 'text' -%}
          {%- liquid
            assign hTag = block.settings.use_heading_tag | remove: 'normal'
            assign textColor = block.settings.text_cl | remove: 'rgba(0,0,0,0)'
          -%}

          {%- capture section_css -%}{{- section_css -}}
            {%- unless textColor == blank -%}{{blockID}}{color: {{textColor}};}{%- endunless -%}
            {%- render 'css-resp', class: blockID, nextClass: ' > *' css: 'font-size', value: block.settings.text_fs -%}
          {%- endcapture -%}

          {%- capture blockTag -%}{% if hTag == blank %}div{% else %}{{hTag}}{% endif %}{%- endcapture -%}

          <{{blockTag}} class="{{blockClass}} fw{{block.settings.text_fw}}">
            {{block.settings.text | default: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>'}}
          </{{blockTag}}>

        {%- comment -%}-------------------------------SVG + CONTENT{%- endcomment-%}
        {%- when 'svg_content' -%}
          <div class="{{blockClass}}">
            <div class="flex align-items-center">
              {%- for i in (1..2) -%}
                {%- liquid
                  assign text  = 'text_' | append: i
                  assign svg   = 'svg_' | append: i
                  assign text  = block.settings[text]
                  assign svg   = block.settings[svg]
                -%}

                {%- if text == blank -%}{%- continue -%}{%- endif -%}

                <div class="inline-flex">
                  {%- unless svg == blank -%}<span class="icon inline-flex">{{svg}}</span>{%- endunless -%}
                  <span class="text">{{text}}</span>
                </div>
              {%- endfor -%}
            </div>
          </div>

        {%- comment -%}-------------------------------BUTTON{%- endcomment-%}
        {%- when 'button' -%}
          <div class="{{blockClass}}">
            <a href="{{- block.settings.url | default: 'javascript:void(0);' -}}" class="btn btn-{{ block.settings.styles }}">
              {{- block.settings.text | default: 'Button' -}}
            </a>
          </div>

        {%- comment -%}-------------------------------SEARCH FORM{%- endcomment-%}
        {%- when 'search' -%}
          <div class="{{blockClass}}">
            <div class="form-wrapper">
              {%- render 'form' type: 'search' -%}
            </div>
          </div>

        {%- comment -%}-------------------------------NEWSLETTER FORM{%- endcomment-%}
        {%- when 'newsletter' -%}
          <div class="{{blockClass}}">
            <div class="form-wrapper">
              {%- render 'form' type: 'newsletter', showCondition: true, btnStyle: block.settings.styles -%}
            </div>
          </div>

        {%- comment -%}-------------------------------ZIPCODE{%- endcomment-%}
        {%- when 'search_by_vendor' -%}
          <div class="{{blockClass}}">
            <div class="form-wrapper">
              {%- render 'form' type: 'search_by_vendor' -%}
            </div>
          </div>
      {%- endcase -%}

      {%- capture section_css -%}{{section_css}}
        {%- assign borderColor = block.settings.border_color | remove: 'rgba(0,0,0,0)' -%}
        {%- unless borderColor == blank -%}
          {{blockID}} form{border-color: {{borderColor}};}
        {%- endunless -%}

        {%- assign maxWidth = block.settings.max_width -%}
        {%- unless maxWidth == blank -%}
          {%- render 'css-resp', class: blockID, nextClass: ' .form-wrapper' css: 'max-width', value: maxWidth -%}
          {%- assign formAlign = section.settings['content_align'] | replace: 'left', 'auto auto auto 0' | replace: 'right', 'auto 0 auto auto' | replace: 'center', '0 auto' -%}
          {%- render 'css-resp', class: blockID, nextClass: ' .form-wrapper' css: 'margin', value: formAlign -%}

        {%- endunless -%}
      {%- endcapture -%}
    {%- endfor -%}
  {%- endcapture -%}


  {%- unless customLogo == blank and svgLogo == blank and bannerContent == blank -%}
    <div class="container pa t0 l0 b0 r0">
      <div class="banner-content-container pa pa-cc">
        {%- unless customLogo == blank and svgLogo == blank -%}
        <div class="md-flex flex-fill">
          <div class="custom-logo">
            {%- if svgLogo == blank -%}
              {%- render 'image-style', image: customLogo -%}
            {%- else -%}
              {{svgLogo}}
            {%- endif -%}
          </div>
        {%- endunless -%}

        {%- unless bannerContent == blank -%}
          <div class="banner-content">{{bannerContent}}</div>
        {%- endunless -%}

        {%- unless customLogo == blank -%}
        </div>
        {%- endunless -%}
      </div>
    </div>
  {%- endunless -%}
{%- endcapture -%}


{%- comment -%}
-------------------------------
RENDER PROMOTION
-------------------------------
{%- endcomment-%}
{%- capture renderPromotion -%}
  {%- assign promoBlock = section.blocks | where: 'type', 'promotion' | first -%}
  {%- if promoBlock != blank -%}
    <div class="promo-block">
      <div class="block-inner">
        {%- unless promoBlock.settings.text_1 == blank -%}
          <div class="text-1 promo-heading fw{{promoBlock.settings.text_fw_1}}">{{promoBlock.settings.text_1}}</div>
        {%- endunless -%}

        <div class="promo-content-wrapper flex">
          <div class="promo-icon">{%- render 'svg', type: 'discount', fillColor: true -%}</div>
          <div class="promo-content">
            <div class="text-2 promo-discount fw{{promoBlock.settings.text_fw_2}}">{{promoBlock.settings.text_2}}%</div>
            {%- unless promoBlock.settings.text_3 == blank -%}
              <div class="text-3 promo-content fw{{promoBlock.settings.text_fw_3}}">{{promoBlock.settings.text_3}}</div>
            {%- endunless -%}
          </div>
        </div>


        {%- unless promoBlock.settings.btn_text == blank -%}
          <div class="button-group">
            <a href="{{- promoBlock.settings.btn_link | default: 'javascript:void(0);' -}}" class="btn btn-{{ promoBlock.settings.btn_styles }}">
              {{- promoBlock.settings.btn_text -}}
            </a>
          </div>
        {%- endunless -%}
      </div>
    </div>

    {%- capture section_css -%}{{- section_css -}}
      {%- render 'css-resp', class: sectionID, nextClass: ' .promo-block > div', css: 'background', value: promoBlock.settings['background_color'], splitBy: ';' -%}
      {%- render 'css-resp', class: sectionID, nextClass: ' .promo-block', css: 'max-width', value: promoBlock.settings['block_width'] -%}

      {%- for i in (1..3) -%}
        {%- liquid
          assign text = 'text_' | append: i
          assign text_fs = 'text_fs_' | append: i
          assign text_cl = 'text_cl_' | append: i
        -%}
        {%- if promoBlock.settings[text] == blank -%}{%- continue -%}{%- endif -%}

        {%- capture textID -%}{{sectionID}} .promo-block .text-{{i}}{%- endcapture -%}
        {%- render 'css-resp', class: textID, nextClass: '', css: 'font-size', value: promoBlock.settings[text_fs] -%}
        {%- render 'css-resp', class: textID, nextClass: '', css: 'color', value: promoBlock.settings[text_cl], splitBy: ';' -%}
      {%- endfor -%}

      {%- capture promoClass -%}{{sectionID}} .promo-content-wrapper, {{sectionID}} .promo-content-wrapper .by-fill path, {{sectionID}} .promo-content-wrapper .by-stroke path{%- endcapture -%}
      {%- render 'css-resp', class: promoClass, css: 'color', value: promoBlock.settings['promo_color'], splitBy: ';' -%}
    {%- endcapture -%}
  {%- endif -%}
{%- endcapture -%}


{%- comment -%}
-------------------------------
SECTION RENDER
-------------------------------
{%- endcomment-%}
{%- capture CLASS -%}
|{{sectionID | remove: '.'}}
|layout-{{layout}}
|section-single-banner
{%- endcapture -%}
<div class="{%- render 'snippet-section', type: 'class', class: CLASS -%}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  <div class="section-container{% if layout == 'boxed' %} container{% endif %}">
    {%- if renderPromotion == blank -%}
      <div class="section-content-inner pr">{{renderBanner}}</div>
    {%- else -%}
      <div class="md-flex flex-fill {% render 'snippet-section', type: 'spacing' %}">
        <div class="section-content-inner pr">{{renderBanner}}</div>
        {{renderPromotion}}
      </div>
    {%- endif -%}
  </div>
</div>
{%- endcapture -%}

{%- comment -%}
-------------------------------
SECTION STYLES
-------------------------------
{%- endcomment-%}
{%- capture section_css -%}{{section_css}}
  {%- render 'css-resp', class: sectionID, css: 'padding', value: section.settings['section_padding'] -%}
  {%- render 'css-resp', class: sectionID, css: 'margin', value: section.settings['section_margin'] -%}
  {%- render 'css-resp', class: sectionID, nextClass: ' .banner-content-container', value: section.settings['content_position'], type: 'position' -%}
  {%- render 'css-resp', class: sectionID, nextClass: ' .banner-content-container', css: 'width', value: section.settings['content_width'] -%}
  {%- render 'css-resp', class: sectionID, nextClass: ' .banner-content', css: 'color', value: section.settings['content_color'], splitBy: ';' -%}

  {%- assign flexAlign = section.settings['content_align'] | replace: 'left', 'flex-start' | replace: 'right', 'flex-end' -%}
  {%- render 'css-resp', class: sectionID, nextClass: ' .banner-content', css: 'text-align', value: section.settings['content_align'] -%}
  {%- render 'css-resp', class: sectionID, nextClass: ' .banner-content .block-item .flex', css: 'justify-content', value: flexAlign -%}

{%- endcapture -%}

{%- render 'snippet-section', type: 'css', value: section_css -%}
{{content}}

{% schema %}
{
  "name": "Single banner",
  "tag": "section",
  "class": "shopify-section-single-banner",
  "presets": [
    {
      "name": "Single banner"
    }
  ],
  "settings": [
    {
      "type":"image_picker",
      "id":"banner_desktop",
      "label":"Select a banner for desktop"
    },
    {
      "type":"image_picker",
      "id":"banner_mobile",
      "label":"Select a banner for mobile"
    },
    {
      "type":"checkbox",
      "id":"disable_lazyload",
      "label":"Disable Lazyload"
    },
    {
       "type":"paragraph",
       "content":"**Styles"
    },
    {
      "type": "select",
      "id": "height_style",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value":"manually",
          "label": "Manually"
        },
        {
          "value": "100%",
          "label": "Square (1:1)"
        },
        {
          "value": "150%",
          "label": "Portrait (2:3)"
        },
        {
          "value": "75%",
          "label": "Landscape (4:3)"
        },
        {
          "value": "56.25%",
          "label": "Wide (16:9)"
        }
      ],
      "default": "auto",
      "label": "Select height styles"
    },
    {
      "type":"text",
      "id":"manual_height",
      "label":"Manually height",
      "info": "E.g: 300px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type":"text",
      "id":"image_crop",
      "label":"Crop position?",
      "default": "center",
      "info": "E.g: center left. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
       "type":"header",
       "content":"General content settings"
    },
    {
      "type":"color",
      "id":"content_color",
      "label":"Text color",
      "default": "#191919"
    },
    {
      "type":"text",
      "id":"content_align",
      "label":"Text alignment",
      "info": "E.g: center, left. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type":"text",
      "id":"content_width",
      "label":"Max width",
      "info": "E.g: 50%, 100%. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type":"text",
      "id":"content_position",
      "label":"Content position",
      "info": "E.g: 50%:50%. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
       "type":"paragraph",
       "content":"Logo image"
    },
    {
      "type":"image_picker",
      "id":"logo",
      "label":"Select a logo"
    },
    {
      "type":"text",
      "id":"svg_logo",
      "label":"SVG Logo"
    },
    {
       "type":"header",
       "content":"Section styles"
    },
    {
      "type":"checkbox",
      "id":"boxed_layout",
      "label":"Boxed layout",
      "default": true
    },
    {
      "type":"text",
      "id":"section_margin",
      "label":"Section margin",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type":"text",
      "id":"section_padding",
      "label":"Section padding",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type":"select",
      "id":"section_visible",
      "label":"Visibility",
      "options":[
        {
          "value":"hide_mobile",
          "label": "Hide on Mobile"
        },
        {
          "value":"hide_desktop",
          "label": "Hide on Desktop"
        },
        {
          "value":"all",
          "label": "Show all"
        }
      ],
      "default": "all"
    }

  ],
  "blocks": [
    {
      "type":"text",
      "name":"Text",
      "limit": 3,
      "settings": [
        {
          "type":"richtext",
          "id":"text",
          "label":"Write your content here"
        },
        {
          "type":"select",
          "id":"use_heading_tag",
          "label":"Use Heading tag",
          "options":[
            {
              "value":"normal",
              "label": "Normal"
            }
            ,{"value":"h1","label": "Heading 1"}
            ,{"value":"h2","label": "Heading 2"}
            ,{"value":"h3","label": "Heading 3"}
            ,{"value":"h4","label": "Heading 4"}
            ,{"value":"h5","label": "Heading 5"}
            ,{"value":"h6","label": "Heading 6"}
          ],
          "default": "normal"
        },
        {
          "type":"text",
          "id":"text_fs",
          "label":"Adjust font size",
          "info": "E.g: 14px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"range",
          "id":"text_fw",
          "label":"Adjust font weight",
          "min":100,
          "max":900,
          "step":100,
          "default": 300
        },
        {
          "type":"color",
          "id":"text_cl",
          "label":"Text color"
        }
      ]
    },
    {
      "type":"svg_content",
      "name":"SVG + Content",
      "settings": [
        {
           "type":"header",
           "content":"Group 1"
        },
        {
          "type":"textarea",
          "id":"text_1",
          "label":"Write your content here",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type":"html",
          "id":"svg_1",
          "label":"SVG code",
          "info": "Something like <svg....</svg>"
        },
        {
           "type":"header",
           "content":"Group 2"
        },
        {
          "type":"textarea",
          "id":"text_2",
          "label":"Write your content here"
        },
        {
          "type":"html",
          "id":"svg_2",
          "label":"SVG code",
          "info": "Something like <svg....</svg>"
        }
      ]
    },
    {
      "type":"button",
      "name":"Button",
      "limit": 1,
      "settings": [
        {
          "type":"text",
          "id":"text",
          "label":"Button label"
        },
        {
          "type":"url",
          "id":"url",
          "label":"Button URL",
          "info": "http:// is required for external links"
        },
        {
          "type":"number",
          "id":"styles",
          "label":"Button style",
          "default": 1,
          "info": "[How to find the value?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000255832#1.-Default-Button)"
        }
      ]
    },
    {
      "type":"html",
      "name":"Custom HTML",
      "settings": [
        {
          "type":"html",
          "id":"html",
          "label":"HTML"
        }
      ]
    },
    {
      "type":"search",
      "name":"Search form",
      "limit": 1,
      "settings": [
        {
          "type":"color",
          "id":"border_color",
          "label":"Boder color",
          "default": "#FFFFFF"
        },
        {
          "type":"text",
          "id":"max_width",
          "label":"Max width",
          "info": "E.g: 300px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        }
      ]
    },
    {
      "type":"search_by_vendor",
      "name":"Search by vendor",
      "limit": 1,
      "settings": [
        {
          "type":"color",
          "id":"border_color",
          "label":"Boder color",
          "default": "#FFFFFF"
        },
        {
          "type":"text",
          "id":"max_width",
          "label":"Max width",
          "info": "E.g: 300px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        }
      ]
    },
    {
      "type":"newsletter",
      "name":"Newsletter form",
      "limit": 1,
      "settings": [
        {
          "type":"number",
          "id":"styles",
          "label":"Button style",
          "default": 1,
          "info": "[How to find the value?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000255832#1.-Default-Button)"
        },
        {
          "type":"color",
          "id":"border_color",
          "label":"Boder color",
          "default": "#FFFFFF"
        },
        {
          "type":"text",
          "id":"max_width",
          "label":"Max width",
          "info": "E.g: 300px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        }
      ]
    },
    {
      "type":"promotion",
      "name":"Promotion",
      "limit": 1,
      "settings": [
        {
           "type":"header",
           "content":"Heading"
        },
        {
          "type":"richtext",
          "id":"text_1",
          "label":"Heading",
          "default": "<p>Special offer only for you</p>"
        },
        {
          "type":"text",
          "id":"text_fs_1",
          "label":"Adjust font size",
          "info": "E.g: 14px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"color",
          "id":"text_cl_1",
          "label":"Text color"
        },
        {
          "type":"range",
          "id":"text_fw_1",
          "label":"Adjust font weight",
          "min":100,
          "max":900,
          "step":100,
          "default":300
        },
        {
           "type":"header",
           "content":"Promotion"
        },
        {
          "type":"number",
          "id":"text_2",
          "label":"Discount percent",
          "default": 10
        },
        {
          "type":"text",
          "id":"text_fs_2",
          "label":"Adjust font size",
          "info": "E.g: 14px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"range",
          "id":"text_fw_2",
          "label":"Adjust font weight",
          "min":100,
          "max":900,
          "step":100,
          "default":300
        },
        {
          "type":"liquid",
          "id":"text_3",
          "label":"Promo content",
          "default": "For your next order,  over {{ 20000 | money_without_trailing_zeros  }}"
        },
        {
          "type":"text",
          "id":"text_fs_3",
          "label":"Adjust font size",
          "info": "E.g: 14px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"range",
          "id":"text_fw_3",
          "label":"Adjust font weight",
          "min":100,
          "max":900,
          "step":100,
          "default":300
        },
        {
          "type":"color",
          "id":"promo_color",
          "label":"Promo text color"
        },
        {
           "type":"header",
           "content":"Button"
        },
        {
          "type":"text",
          "id":"btn_text",
          "label":"Button label"
        },
        {
          "type":"url",
          "id":"btn_link",
          "label":"Link",
          "info": "http:// is required for external links"
        },
        {
          "type":"number",
          "id":"btn_styles",
          "label":"Number of button style",
          "default": 1,
          "info": "[How to find the value?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000255832#1.-Default-Button)"
        },
        {
           "type":"header",
           "content":"Background styles"
        },
        {
          "type":"text",
          "id":"block_width",
          "label":"Block width",
          "default": "100%,30%",
          "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"color",
          "id":"background_color",
          "label":"Background color"
        }
      ]
    }
  ]
}
{% endschema %}