{%- if section.settings.boxed_layout -%}{%- assign layout = 'boxed' -%}{%- else -%}{%- assign layout = 'wide' -%}{%- endif -%}
{%- liquid
  assign sectionType = 'bundle-list'
  assign sectionID = '.section-' | append: section.id
-%}

{%- capture content -%}
{%- capture CLASS -%}
|{{sectionID | remove: '.'}}
|section-bundle-list
{%- endcapture -%}
<div class="{%- render 'snippet-section', type: 'class', class: CLASS -%}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  <div class="section-container{% if layout == 'boxed' %} container{% endif %}">

    {%- comment -%}
    -------------------------------
    Section heading
    -------------------------------
    {%- endcomment-%}
    {%- assign sectionHeading = section.settings.section_heading -%}
    {%- unless sectionHeading == blank -%}
      <div class="section-heading-wrapper">
        <h3 class="section-heading">{{sectionHeading}}</h3>
      </div>
      {%- capture section_css -%}{{- section_css -}}
        {%- render 'snippet-section', type: 'heading_style', sectionID: sectionID -%}
      {%- endcapture -%}
    {%- endunless -%}


    {%- capture gridClass -%}{%- render 'config-grid', value: section.settings.items_resp %} {% render 'snippet-section', type: 'spacing' -%}{%- endcapture -%}
    {%- capture section_css -%}{{- section_css -}}{%- render 'config-grid', value: section.settings.items_resp, style: true -%}{%- endcapture -%}
    
    {%- capture bundleContent -%}
      {%- render 'product-bundle', type: 'bundle', hideTitle: true, class: gridClass -%}
    {%- endcapture -%}
    {{bundleContent}}

  </div>
</div>
{%- capture section_css -%}{{- section_css -}}
  {%- render 'css-resp', class: sectionID, css: 'padding', value: section.settings['section_padding'] -%}
  {%- render 'css-resp', class: sectionID, css: 'margin', value: section.settings['section_margin'] -%}
{%- endcapture -%}
{%- endcapture -%}

{%- unless bundleContent == blank -%}
  {%- render 'snippet-section', type: 'css-file', minify: true, name: 'component-card' -%}
  {%- render 'snippet-section', type: 'css-file', minify: true, name: 'product-bundle' -%}
  {%- render 'snippet-section', type: 'css', value: section_css -%}
  {{content}}
{%- endunless -%}

{% schema %}
{
  "name": "Bundle Product",
  "tag": "section",
  "class": "shopify-section-bundle",
  "presets": [
    {
      "name": "Bundle Product"
    }
  ],
  "settings": [
    {
      "type":"text",
      "id":"bundle",
      "label":"Bundles list metafield",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": "Max number of item per row",
      "default": "1,3",
      "info": "E.g: 2,3,4,5. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type":"text",
      "id":"section_heading",
      "label":"Heading",
      "default": "Frequently bought together"
    },
    {
      "type": "paragraph",
      "content": "**Heading styles"
    },
    {
      "type": "text",
      "id": "section_heading_align",
      "label": "Heading text alignment",
      "info": "E.g: center, left [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "text",
      "id": "section_heading_margin",
      "label": "Margin",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "text",
      "id": "section_heading_fs",
      "label": "Adjust font size",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Heading color"
    },
    {
       "type":"header",
       "content":"Section styles"
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": "Boxed layout",
      "default": true
    },
    {
      "type": "text",
      "id": "section_margin",
      "label": "Section margin",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section padding",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    }
  ]
}
{% endschema %}