{%- render 'snippet-section', type: 'css-file', minify: true, name: 'custom-content' -%}
{%- if section.settings.boxed_layout -%}{%- assign layout = 'boxed' -%}{%- else -%}{%- assign layout = 'wide' -%}{%- endif -%}

{%- liquid
  assign sectionType  = 'custom-content'
  assign sectionID    = '.section-' | append: section.id
-%}


{%- capture content -%}
{%- capture CLASS -%}
|{{sectionID | remove: '.'}}
|layout-{{layout}}
|section-{{sectionType}}
{%- endcapture -%}
<div class="{%- render 'snippet-section', type: 'class', class: CLASS -%}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  <div class="section-container{% if layout == 'boxed' %} container{% endif %}">
    {%- comment -%}
    -------------------------------
    Section heading
    -------------------------------
    {%- endcomment-%}
    {%- assign sectionHeading = section.settings.section_heading -%}
    {%- unless sectionHeading == blank -%}
      <div class="section-heading-wrapper">
        <h3 class="section-heading">{{sectionHeading}}</h3>
      </div>
      {%- capture section_css -%}{{- section_css -}}
        {%- render 'snippet-section', type: 'heading_style', sectionID: sectionID -%}
      {%- endcapture -%}
    {%- endunless -%}

    {%- if section.blocks.size == 0 -%}
      <div class="flex flex-1 flex-lg-2 {% render 'snippet-section', type: 'spacing' %} align-items-center">
        <div class="block-item block-image">
          <div class="block-inner">
            {%- render 'empty-content', type: 'once_image' -%}
          </div>
        </div>
        <div class="block-item block-paragraph">
          <div class="block-inner">
            <h2>Talk about your brand</h2>
            <p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>
          </div>
        </div>
      </div>
    {%- else -%}
      {%- comment -%}
      -------------------------------
      SECTION CONTENT
      -------------------------------
      {%- endcomment-%}
      <div class="flex flex-fill {% render 'snippet-section', type: 'spacing' %}">
        {%- for block in section.blocks -%}
          {%- capture blockID -%}{{sectionID}} .block-{{block.id}}{%- endcapture -%}
          {%- capture blockClass -%}
            |block-item
            |block-{{block.type}}
            |block-{{block.id}}
          {%- endcapture -%}

          {%- comment -%}
          -------------------------------
          BLOCK CONTENT
          -------------------------------
          {%- endcomment-%}
          <div class="{%- render 'snippet-section', type: 'class', class: blockClass, object: block -%}"{{block.shopify_attributes}}>
            <div class="block-inner">
              {%- capture blockContent -%}{%- render 'snippet-custom-content', block: block, blockID: blockID -%}{%- endcapture -%}
              {%- assign blockContent = blockContent | split: '<!--|||-->' -%}
              {{- blockContent[0] -}}
            </div>
          </div>

          {%- comment -%}
          -------------------------------
          BLOCK STYLE
          -------------------------------
          {%- endcomment-%}
          {%- capture section_css -%}{{- section_css -}}
            {%- comment -%} BLOCK WIDTH {%- endcomment-%}
            {%- liquid
              assign width = block.settings.width
              unless width == blank
                assign width = width | replace: ',', ',0 0 ' | prepend: '0 0 '
              endunless
              render 'css-resp', class: blockID, css: 'flex', value: width
            -%}
            {%- comment -%}-------------------------------{%- endcomment-%}

            {%- render 'css-resp', class: blockID, nextClass: '>div', css: 'padding', value: block.settings['block_margin'] -%}
            {%- render 'css-resp', class: blockID, nextClass: '>div', css: 'margin', value: block.settings['block_padding'] -%}
            {{- blockContent[1] -}}

          {%- endcapture -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>
{%- endcapture -%}

{%- capture section_css -%}{{section_css}}
  {%- render 'css-resp', class: sectionID, css: 'padding', value: section.settings['section_padding'] -%}
  {%- render 'css-resp', class: sectionID, css: 'margin', value: section.settings['section_margin'] -%}

{%- endcapture -%}

{%- render 'snippet-section', type: 'css', value: section_css -%}{{content}}

{% schema %}
{
  "name": "Custom content",
  "tag": "section",
  "presets": [
    {
      "name": "Custom content"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading"
    },
    {
      "type": "paragraph",
      "content": "**Heading styles"
    },
    {
      "type": "text",
      "id": "section_heading_align",
      "label": "Heading text alignment",
      "info": "E.g: center, left [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "text",
      "id": "section_heading_margin",
      "label": "Margin",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "text",
      "id": "section_heading_fs",
      "label": "Adjust font size",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Heading color"
    },
    {
       "type":"header",
       "content":"Section styles"
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": "Boxed layout",
      "default": true
    },
    {
      "type": "text",
      "id": "section_margin",
      "label": "Section margin",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section padding",
      "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
    },
    {
      "type": "select",
      "id": "section_visible",
      "label": "Visibility",
      "options": [
        {
          "value": "hide_mobile",
          "label": "Hide on Mobile"
        },
        {
          "value": "hide_desktop",
          "label": "Hide on Desktop"
        },
        {
          "value": "all",
          "label": "Show all"
        }
      ],
      "default": "all"
    }
  ],
  "blocks": [
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
           "type":"header",
           "content":"First content"
        },
        {
          "type":"richtext",
          "id":"text_1",
          "label":"Write your first content here",
          "default": "<p>Talk about your brand</p>"
        },
        {
          "type":"text",
          "id":"text_fs_1",
          "label":"Adjust first content font size",
          "info": "E.g: 14px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"range",
          "id":"text_fw_1",
          "label":"Adjust font weight",
          "min":0,
          "max":900,
          "step":100,
          "default": 0,
          "info": "0 is auto"
        },
        {
          "type":"color",
          "id":"text_cl_1",
          "label":"Text color"
        },
        {
           "type":"header",
           "content":"Second content"
        },
        {
          "type":"richtext",
          "id":"text_2",
          "label":"Write your second content here"
        },
        {
          "type":"text",
          "id":"text_fs_2",
          "label":"Adjust second content font size",
          "info": "E.g: 14px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"range",
          "id":"text_fw_2",
          "label":"Adjust font weight",
          "min":0,
          "max":900,
          "step":100,
          "default": 0,
          "info": "0 is auto"
        },
        {
          "type":"color",
          "id":"text_cl_2",
          "label":"Text color"
        },
        {
           "type":"header",
           "content":"Button"
        },
        {
          "type":"text",
          "id":"btn_text",
          "label":"Button label"
        },
        {
          "type":"url",
          "id":"btn_link",
          "label":"Link",
          "info": "http:// is required for external links"
        },
        {
          "type":"number",
          "id":"btn_styles",
          "label":"Number of button style",
          "default": 1,
          "info": "[How to find the value?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000255832#1.-Default-Button)"
        },
        {
          "type":"header",
          "content":"General settings"
        },
        {
          "type": "text",
          "id": "content_align",
          "label": "Content alignment",
          "info": "E.g: center, left [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"text",
          "id":"width",
          "label":"Block width",
          "default": "100%, 50%",
          "info": "E.g: 500px or 50%. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type": "text",
          "id": "block_margin",
          "label": "Block margin",
          "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type": "text",
          "id": "block_padding",
          "label": "Block padding",
          "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        }
      ]
    },
    {
      "type": "image",
      "name": "Banner",
      "settings": [
        {
          "type":"header",
          "content":"Banner"
        },
        {
          "type":"image_picker",
          "id":"banner_desktop",
          "label":"Desktop: Select a banner"
        },
        {
          "type":"image_picker",
          "id":"banner_mobile",
          "label":"Mobile: Select a banner"
        },
        {
          "type":"paragraph",
          "content":"**Styles"
        },
        {
          "type": "select",
          "id": "height_style",
          "label": "Select image height style",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value":"manually",
              "label": "Manually"
            },
            {
              "value": "100%",
              "label": "Square (1:1)"
            },
            {
              "value": "150%",
              "label": "Portrait (2:3)"
            },
            {
              "value": "75%",
              "label": "Landscape (4:3)"
            },
            {
              "value": "56.25%",
              "label": "Wide (16:9)"
            }
          ],
          "default": "auto"
        },
        {
          "type":"text",
          "id":"manual_height",
          "label":"Manually height",
          "info": "E.g: 300px. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"text",
          "id":"image_crop",
          "label":"Crop position?",
          "default": "center",
          "info": "E.g: center left. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type":"header",
          "content":"General settings"
        },
        {
          "type":"text",
          "id":"width",
          "label":"Block width",
          "default": "100%, 50%",
          "info": "E.g: 500px or 50%. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type": "text",
          "id": "block_margin",
          "label": "Block margin",
          "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type": "text",
          "id": "block_padding",
          "label": "Block padding",
          "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        }
      ]
    },
    {
      "type": "html",
      "name": "HTML",
      "settings": [
        {
          "type":"html",
          "id":"html",
          "label":"HTML",
          "default": "<h2>Talk about your brand</h2><p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type":"header",
          "content":"General settings"
        },
        {
          "type":"text",
          "id":"width",
          "label":"Block width",
          "default": "100%, 50%",
          "info": "E.g: 500px or 50%. [How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type": "text",
          "id": "block_margin",
          "label": "Block margin",
          "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        },
        {
          "type": "text",
          "id": "block_padding",
          "label": "Block padding",
          "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
        }
      ]
    }
  ]
}
{% endschema %}